.boxH {
	fill: red;
}

.pathH {
	stroke: red !important;
	stroke-width: 3.0 !important;
}

path:hover {
	stroke: #FF0000 !important;
}

#tooltip {
	dominant-baseline: hanging;
	background-color: #33FF00;
	font: bold 15px sans-serif;
	fill: white;
}